@model MarketPricingSystem.ViewModel.product

@{
    ViewBag.Title = "Deletesupermarket";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}



<div style="margin-left:150px">

    <h3 style="color:red">Are you sure you want to delete this? </h3>
    <h4  style="color:red">Supermarket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.productname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.productBarcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productBarcode)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.productDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productDescription)
        </dd>
           <dt>
            @Html.DisplayNameFor(model => model.productcategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.productcategory)
        </dd>

      

    </dl>



    <div class="form-actions no-color">
        <a href="/Products/ConfirmDelete/@Model.productid" class="btn btn-danger" role="button">Delete</a>
        <a href="/Products/AllProducts" class="btn btn-primary" role="button">Back</a>
    </div>

</div>
